#theGrid {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    flex: 0 1 auto
}

.cell {
    display: flex;
    border: 1px;
    border-style: solid;
    width: 32px;
    height: 32px;
}

.row {
    display: flexbox;
    border: 0;
    border-color: green;
    border-style: solid;

}

.cellHover {
    background-color: yellow;
}