#theGrid {
    display: grid;
    width: 640px;
    height: 640px;
    background-color: darkslategray;
    /* grid-template-columns: repeat(3, 1fr); */
}

.cell {
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.row {
    display: flexbox;
    border: 1px;
    border-color: green;
    border-style: solid;
}

.cellHover {
    background-color: yellow;
}